################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreProtectAPI/FileContentIndex/1a91b62b-6a80-4aa6-9753-e2e51a823093.vsidx
/.vs/CoreProtectAPI/FileContentIndex/358f7b18-6116-47df-817b-cb4081e55469.vsidx
/.vs/CoreProtectAPI/FileContentIndex
