################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreProtectAPI/FileContentIndex/1a91b62b-6a80-4aa6-9753-e2e51a823093.vsidx
